/* Display panels */
#include "panel/dsi-panel-gx-rm67198-amoled-1080p-video.dtsi"
#include "panel/dsi-panel-hehui-rm67191-amoled-1080p-video.dtsi"
#include "panel/dsi-panel-sharp-ft8716-1080p-video.dtsi"
#include "panel/dsi-panel-shenchao-ft8716-1080p-video.dtsi"
#include "panel/dsi-panel-tianma-td4310-1080p-video.dtsi"

&mdss_dsi0 {
	qcom,dsi-pref-prim-pan = <&dsi_td4310_tianma_fhd_video>;
};

/* msm-pmi8950.dtsi */
&lab_regulator {
	/delete-property/ qcom,qpnp-lab-ps-enable;
};
&wled {
	/delete-property/ qcom,en-ext-pfet-sc-pro;
};

/* msm8953-mtp.dtsi */
&mdss_dsi0 {
	/delete-property/ qcom,platform-bklight-en-gpio;
};
